<div class="form-outline mb-4">
    <label class="form-label" for="floatingInput">Username</label>
    <input autofocus class="form-control" name="username" placeholder="Enter Your Username"
        value="<%= model.username %>" />

</div>

<div class=" form-outline mb-4">
    <label class="form-label" for="floatingPassword">Password</label>
    <input autofocus class="form-control" name="password" placeholder="Enter Your Password"
        value="<%= model.password %>" />

</div>
<div class="form-outline mb-4">
    <label class="form-label" for="floatingEmail">Email</label>
    <input autofocus class="form-control" name="email" placeholder="Enter Your Email" value="<%= model.email %>" />

</div>

<div class="form-outline mb-4">
    <label class="form-label" for="floatingTel">Phone Number</label>
    <input autofocus class="form-control" name="tel" placeholder="Enter Your Phone Number" value="<%= model.tel %>" />

</div>